<div>Hello
    <p style="color: #59b5b5;padding-left: 14px;">
        <%= locals.name %>您好
    </br>
        <%= locals.text %>
    </br>    
        百度一下，点击！
        <a href="https://www.baidu.com/">白</a>
    </p>
</div>
